h1
{
    text-align: center;
    font-size: 140px;
    font-family: 'Monoton', cursive;
}

p
{
    font-family: 'Homemade Apple', cursive;
}

h1, h2
{
    color: rgb(165, 40, 40);
}

.container
{
 background-color: slategray;
}

.margin
{
    margin-top: 60px;
}